<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tailin.privatepage">

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 广告无限轮播 -->
        <activity android:name=".demo.banner.BannerImageActivity" />
        <!-- 流式布局 -->
        <activity android:name=".demo.flowlayout.FlowLayoutActivity" />
        <!-- tab隐藏显示 -->
        <activity android:name=".demo.bottom_tab_toggle.TabActivity" />
        <!-- 简单视频播放 -->
        <activity
            android:name=".demo.video.SimpleVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <!-- 视频列表播放 -->
        <activity
            android:name=".demo.video.ListViewVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity android:name=".demo.banner_countdown.SplashActivity"></activity>
        <activity android:name=".demo.statusbar.StatusBarFullActivity"/>
    </application>

</manifest>